#### Assignment23 Submitted by....Tanuja S.Dhope

Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [8]:
def is_symmetrical(n):
    
    current_Digit = 0
    reversed_Digit = 0
    remain_num= n
   
    while(remain_num != 0):
        reversed_Digit= reversed_Digit * 10 +  (remain_num% 10)
        remain_num = remain_num//10  ## Divide and round down to integer
        #print(remain_num)
        
    if reversed_Digit == n:
        return True
    else:
        return False
    
print(is_symmetrical(7227))
print(is_symmetrical(1112111)) 
print(is_symmetrical(9939))

True
True
False

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [15]:
def multiply_nums(str):
    str = str.replace(' ', "")
    str = str.split(',')
    result= 1
    for i in str:
        result = result * int(i)
    return result

print(multiply_nums("1, 2, 3, 4"))
print(multiply_nums("10, -2"))

24
-20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

In [20]:
def square_digits(n): 
    return ''.join(str(int(i)**2) for i in str(n))

square_digits(2483)

'416649'

In [ ]:
Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [24]:
def setify(lst):
    return set(lst)

print(setify([1, 3, 3, 5, 5]))

print(setify([4, 4, 4, 4])) 
print(setify([5, 7, 8, 9, 10, 15]))

{1, 3, 5}
{4}
{5, 7, 8, 9, 10, 15}

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

In [34]:
def mean(s):
    sum=0
    N = len(str(s)) 
    for i in str(s):
        sum+= int(i)
    return int(sum/N)  ##cal and return average
    
    
print(mean(567))
print(mean(12345))

6
3